*{
    padding: 0;
    margin: 0;
    color: white;
    
 }
 #navbar{
    height: 60px;
    width: 1000px;
    background-color: #0f1111;
    border: ;
 }
 button{
    background-color:rgb(239, 159, 19) ;
 }
   
 #logo{
    color: rgb(239, 159, 19);
    font-size: 25px;
 }
 a{
    margin-right: 100px;
 }

 .contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
 }
 #content{
    height: 600px;
 }
 footer{
    color: white;
    background-color: #0f1111;
    text-align: center;
 }