*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    }

.nav-logo{
    height: 50px;
    width: 140px;

}
.logo{
    background-image: url("amazonlogo2.png");
    background-size: cover;
    height: 50px;
    width: 100%;
   
} 
.border:hover{
    border: 1.5px solid white;

}